﻿<h4>Details for {{club?.ClubName}}</h4>
<div class="row spacer10" *ngIf="club?.LogoPath">
    <div class="form-group">
        <div class="col-sm-6">
            <img [src]="club.LogoPath" alt="No image" />
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Club name</label>
        <div class="col-sm-3">{{club?.ClubName}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Year founded</label>
        <div class="col-sm-1">{{club?.YearFounded}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Manager</label>
        <div class="col-sm-5">{{club?.Manager}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Ground</label>
        <div class="col-sm-5">{{club?.Ground}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Trophies count</label>
        <div class="col-sm-5">{{club?.TrophiesCount}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Country</label>
        <div class="col-sm-5">{{club?.CountryName}}</div>
    </div>
</div>
<div class="row" has-permission="change">
    <div *ngIf="club" class="form-group">
        <div class="col-sm-2">
            <a [routerLink]="['/clubs/edit', club.ClubID]" class="btn btn-warning">Edit</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>

<h4 class="topspacer20">Latest news about this club</h4>
<div class="row" *ngIf="articles?.length > 0" style="margin-left: 0;">
    <div class="list-group col-sm-8">
        <a *ngFor="let article of articles" [routerLink]="['/article', article.ArticleID]" class="list-group-item">
            <h4 class="list-group-item-heading">{{article.Title}})</h4>
            <p class="list-group-item-text">added {{article.DateAdded | date: 'dd/MM/yyyy'}}</p>
        </a>
    </div>
</div>

<div class="alert alert-info col-sm-6" *ngIf="articles?.length == 0" role="alert">
    <p>No articles about this team were found found.</p>
</div>