﻿<form class="form-horizontal" role="form" #clubForm="ngForm">
    <h4>
        <span *ngIf="isEdit">Edit club</span>
        <span *ngIf="!isEdit">Create new club</span>
    </h4>
    <div class="row" [hidden]="!hasServerError">
        <div class="col-sm-offset-2 col-xs-10">
            <div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert">×</a>{{errMessage}}</div>
        </div>
    </div>
    <!--<div class="form-group">
        <label for="name" class="col-xs-2 control-label">Club name</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" aa-field-group="name" name="name" ng-model="newClub.ClubName" id="name" required />
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-sm-3">
            <input type="text" name="clubName" class="form-control" [(ngModel)]="newClub.ClubName" val-summary="Club name" required />
        </div>
    </div>
    <!--<div class="form-group">
        <label for="yearFounded" class="col-xs-2 control-label">Year founded</label>
        <div class="col-xs-2">
            <input type="text" class="form-control" ng-model="newClub.YearFounded" id="yearFounded" min="1780" max="2014" integer required />
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-sm-2">
            <input type="number" name="yearFounded" class="form-control" [(ngModel)]="newClub.YearFounded" val-summary="Year founded" min="1780" max="2014" integer required />
        </div>
    </div>
    <!--<div class="form-group">
        <label for="manager" class="col-xs-2 control-label">Manager</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" ng-model="newClub.Manager" id="manager" required />
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" name="manager" maxlength="50" class="form-control" val-summary="Manager" [(ngModel)]="newClub.Manager" required />
        </div>
    </div>
    <!--<div class="form-group">
        <label for="ground" class="col-xs-2 control-label">Ground</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" ng-model="newClub.Ground" id="ground" required />
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" name="ground" class="form-control" [(ngModel)]="newClub.Ground" val-summary="Ground" required />
        </div>
    </div>
    <!--<div class="form-group">
        <label for="trophies" class="col-xs-2 control-label">Trophies count</label>
        <div class="col-xs-1">
            <input type="text" class="form-control" ng-model="newClub.TrophiesCount" id="trophies" min="0" max="300" required />
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-sm-5">
            <input type="number" name="trophiesCount" class="form-control" val-summary="Trophies count" [(ngModel)]="newClub.TrophiesCount" min="0" max="300" integer required />
        </div>
    </div>
    <!--<div class="form-group">
        <label for="country" class="col-xs-2 control-label">Country</label>
        <div class="col-xs-2">
            <select id="country" class="form-control" ng-model="newClub.CountryID">
                <option ng-repeat="country in countries" value="{{country.CountryID}}">{{country.CountryName}}</option>
            </select>
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-sm-2">
            <select name="countryId" class="form-control" val-summary="Country" [(ngModel)]="newClub.CountryID" required>
                <option *ngFor="let country of countries" value="{{country.CountryID}}">{{country.CountryName}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Logo <br />(*.jpg, *.png or *.gif <br /> < 100kb)</label>
        <file-upload name="file" [(ngModel)]="file"></file-upload>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" (click)="save()" [disabled]="!clubForm.form.valid" class="btn btn-default">Save</button>
        </div>
    </div>
</form>

