﻿<h4>Search clubs</h4>

<form class="form-horizontal" name="form" (ngSubmit)="search()" #searchForm="ngForm" novalidate>
    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" name="searchTerm" val-summary="Club name" [(ngModel)]="searchTerm" class="form-control" required minlength="3" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" [disabled]="!searchForm.form.valid">Search</button>
        </div>
    </div>
</form>

<div class="panel panel-default" *ngIf="results?.length > 0">
    <div class="panel-heading" style="font-size: 14px;">Found {{results.length}} result(s)</div>

    <table class="table">
        <thead>
            <tr>
                <th>Club name</th>
                <th>Country</th>
                <th>Ground</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let club of results">
                <td>{{club.ClubName}}</td>
                <td>{{club.CountryName}}</td>
                <td>{{club.Ground}}</td>
                <td><a [routerLink]="['/clubs', club.ClubID]">Go</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-info col-sm-offset-2 col-sm-6" *ngIf="results?.length == 0" role="alert">
    <p>No results were found.</p>
</div>



