﻿@model dynamic
@{
    Layout = null;
}
<html lang="en">
<head>
    <title>Football portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
</head>
<body>
    <football-app></football-app>
    <script>
        window.config = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
    </script>
    @{ Html.RenderPartial("ScriptBundles"); }
</body>
</html>
