﻿@if (HttpContext.Current.IsDebuggingEnabled)
{
    string version = DateTime.Now.Second.ToString();

    <script src="~/dist/runtime.js?v=@version"></script>
    <script src="~/dist/styles.js?v=@version"></script>
    <script src="~/dist/scripts.js?v=@version"></script>
    <script src="signalr/hubs"></script>
    <script src="~/dist/polyfills.js?v=@version"></script>
    <script src="~/dist/vendor.js?v=@version"></script>
    <script src="~/dist/main.js?v=@version"></script>
}
else
{
    List<string> bundles = new List<string>();

    IEnumerable<string> fileEntries = Directory.EnumerateFiles(Server.MapPath("~/dist"));
    bundles.Add("inline.");
    bundles.Add("polyfills");
    bundles.Add("styles.");
    bundles.Add("vendor.");
    bundles.Add("main.");

    foreach (string bundleName in bundles)
    {
        foreach (string fileName in fileEntries)
        {
            FileInfo fileInfo = new FileInfo(fileName);
            if (fileInfo.Name.Contains(bundleName) && fileInfo.Name.Contains(".map") == false)
            {
                if (fileInfo.Name.Contains("styles"))
                {
                    <link href="~/dist/@fileInfo.Name" rel="stylesheet" />
                }
                else
                {
                    <script src="~/dist/@fileInfo.Name"></script>
                    if (fileInfo.Name.Contains("scripts"))
                    {
                        <script src="signalr/hubs"></script>
                    }
                }

            }
        }
    }
}