﻿@using ThesisTU.Common.Extensions
@model ThesisTU.Web.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/bundle")
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="col-md-3 center-block">
        @Html.CustomValidationSummary()
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Login</strong></h3>
            </div>
            <div class="panel-body">
                <form role="form" action="@Url.Action("Login")" method="post">
                    <div class="form-group">
                        <label>Username</label>
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-sm btn-default spacer5">Log in</button>
                    <div>
                        <span>Don't have an account? <a href="@Url.Action("Register")">Register now.</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
