﻿@using ThesisTU.Common.Extensions
@model ThesisTU.Web.Models.RegisterModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @*<link href="~/App/css/jquery.ui.autocomplete.css" rel="stylesheet" />
    <link href="~/App/css/jquery.ui.theme.css" rel="stylesheet" />
    <link href="~/App/css/bootstrap.css" rel="stylesheet" />
    <link href="~/App/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/App/css/Site.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/bundle")
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/custom.js"></script>
</head>

<body>
    <div class="col-md-4 center-block">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Registration</strong></h3>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Register")" method="post" enctype="multipart/form-data">
                    @Html.CustomValidationSummary()
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <p>@Html.ValidationMessageFor(m => m.UserName)</p>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <p>@Html.ValidationMessageFor(m => m.Fullname)</p>
                        @Html.LabelFor(m => m.Fullname)
                        @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <p>@Html.ValidationMessageFor(m => m.Password)</p>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <p>@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>

                    <div class="form-group autocomplete-team">
                        <p>@Html.ValidationMessageFor(m => m.FavouriteTeam)</p>
                        @Html.LabelFor(m => m.FavouriteTeam)
                        @Html.TextBoxFor(m => m.FavouriteTeam, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.CountryID)
                        @Html.DropDownList("CountryID", null, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <script>
                            $(document).ready(function () {
                                $('#file-upload').change(function () {
                                    $('#subfile').val($(this).val());
                                });
                            });
                        </script>

                        <label>Avatar</label>
                        <div class="input-group">
                            <input type="file" name="avatarFile" style="display: none;" id="file-upload">
                            <input type="text" disabled class="form-control" placeholder="Upload a file ..." name="subfile" id="subfile">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="$('#file-upload').click();" id="upload-btn">Browse</button>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-sm btn-default">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
