﻿/* Bootstrap classes */

.center-block {
    float: none !important;
}

.col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

body, .panel-title {
    font-size: 13px;
}

.panel-body {
    padding: 10px;
}

.panel-heading {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

a.dropdown-toggle, a.close, .showMoreLink, .pointer {
    cursor: pointer;
}

.media {
    font-size: 14px;
}

.media:not(:first-of-type), .media .media:not(:first-of-type) {
    margin-top: 5px;
}

strong.media-heading {
    display: block;
}

.thumbnail {
    height: 220px;
}

/*.navbar {
    min-height: 40px;
}

    .navbar .navbar-brand {
        padding: 0 12px;
        line-height: 40px;
        height: 40px;
    }

    .navbar .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 40px;
    }

    .navbar .navbar-toggle {
        margin-top: 3px;
        margin-bottom: 0px;
        padding: 8px 9px;
    }

    .navbar .navbar-collapse {
        border-color: #A40303;
    }*/

/* MVC */

.field-validation-error {
    color: #a94442;
    font-weight: bold;
}
/* Elements */

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

input[datepicker] {
    cursor: pointer !important;
}

table {
    font-size: 14px;
}

/* New */

.main-container {
    margin-top: 60px;
}

.spacer5 {
    margin-bottom: 5px;
}

.spacer10 {
    margin-bottom: 10px;
}

.topspacer20 {
    margin-top: 20px;
}

.margin-top0 {
    margin-top: 0;
}

.comments-group {
    margin-top: 40px;
}

.btn-wpanswer {
    margin-top: 2px;
    font-size: 12px !important;
    padding: 3px 6px;
}

.radio-group input[type=radio]:not(:first-child) {
    margin-left: 10px;
}

.moreCommentsLabel {
    margin-top: 5px;
    font-size: 13px;
}