﻿<form class="form-horizontal" role="form" #playerForm="ngForm">
    <h4>
        <span *ngIf="isEdit">Edit player</span>
        <span *ngIf="!isEdit">Create new player</span>
    </h4>
    <div class="row" [hidden]="!hasServerError">
        <div class="col-sm-offset-2 col-xs-10">
            <div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>{{errMessage}}</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" name="firstName" class="form-control" val-summary="First name" [(ngModel)]="newPlayer.FirstName" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" name="lastName" class="form-control" val-summary="Last name" [(ngModel)]="newPlayer.LastName" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-1">
            <input type="number" name="age" class="form-control" val-summary="Age" [(ngModel)]="newPlayer.Age" min="15" max="50" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <input type="text" name="birthDate" class="form-control" val-summary="Date of birth" [(ngModel)]="newPlayer.BirthDate" readonly="readonly" datepicker required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-1">
            <input type="number" name="number" class="form-control" val-summary="Shirt number" [(ngModel)]="newPlayer.Number" min="1" max="99" integer required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <input type="number" name="goals" class="form-control" val-summary="Goals" [(ngModel)]="newPlayer.Goals" min="0" max="2000" integer />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <select name="countryId" class="form-control" val-summary="Country" [(ngModel)]="newPlayer.CountryID" required>
                <option *ngFor="let country of countries" value="{{country.CountryID}}">{{country.CountryName}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <select name="positionId" class="form-control" val-summary="Playing position" [(ngModel)]="newPlayer.PositionID" required>
                <option *ngFor="let position of positions" value="{{position.PositionID}}">{{position.Name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group" *ngIf="isEdit">
        <label class="control-label col-sm-2">Club name</label>
        <div class="col-sm-5" style="padding-top: 7px;">
            <span>{{newPlayer.ClubName}}</span>
        </div>
    </div>
    <div class="form-group" *ngIf="!isEdit">
        <div class="col-sm-5">
            <input type="text" name="clubName" class="form-control" val-summary="Club name" [(ngModel)]="newPlayer.ClubName" suggestions="/JsonAutocomplete/GetTeamsNames" required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Picture</label>
        <file-upload name="file" [(ngModel)]="file"></file-upload>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" (click)="save()" [disabled]="!playerForm.form.valid" class="btn btn-default">Save</button>
        </div>
    </div>
</form>
