﻿<h4>Details for {{player?.FirstName}} {{player?.LastName}}</h4>
<div class="row spacer10" *ngIf="player?.PicturePath">
    <div class="form-group">
        <div class="col-sm-6">
            <img [src]="player?.PicturePath" alt="No image" />
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">First name</label>
        <div class="col-sm-5">{{player?.FirstName}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Last name</label>
        <div class="col-sm-5">{{player?.LastName}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Club</label>
        <div class="col-sm-5">{{player?.ClubName}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Age</label>
        <div class="col-sm-1">{{player?.Age}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Shirt number</label>
        <div class="col-sm-1">{{player?.Number}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Goals</label>
        <div class="col-sm-1">{{player?.Goals | notAvailable }}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Country</label>
        <div class="col-sm-5">{{player?.CountryName}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Playing position</label>
        <div class="col-sm-5">{{player?.PositionName}}</div>
    </div>
</div>
<div class="row" has-permission="change">
    <div *ngIf="player" class="form-group">
        <div class="col-sm-2">
            <a [routerLink]="['/players/edit/', player.PlayerID]" class="btn btn-warning">Edit</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>

<h4 class="topspacer20">Latest transfers for this player</h4>
<div class="panel panel-default" *ngIf="transfers?.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th>Player</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transfer of transfers">
                <td>{{transfer.PlayerName}}</td>
                <td>{{transfer.SellerName}}</td>
                <td>{{transfer.BuyerName}}</td>
                <td>{{transfer.Amount | transferAmount}}</td>
                <td><a [routerLink]="['/transfer', transfer.TransferID]">Go</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-info col-sm-6" *ngIf="transfers?.length == 0" role="alert">
    <p>No results were found.</p>
</div>