﻿<h4>Search players</h4>

<form class="form-horizontal" name="form" (ngSubmit)="search()" #searchForm="ngForm" novalidate>
    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" name="searchTerm" val-summary="Player name" [(ngModel)]="searchTerm" class="form-control" required minlength="3" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="filterByPosition" [(ngModel)]="filterByPosition" />
                    Filter by position
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <select name="position" class="form-control" [(ngModel)]="position" [disabled]="!filterByPosition" required>
                <option *ngFor="let position of positions" value="{{position.PositionID}}">{{position.Name}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" [disabled]="!searchForm.form.valid">Search</button>
        </div>
    </div>
</form>

<div class="panel panel-default" *ngIf="results?.length > 0">
    <div class="panel-heading" style="font-size: 14px;">Found {{results.length}} result(s)</div>

    <table class="table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Club</th>
                <th>Position</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of results">
                <td>{{player.FirstName}}</td>
                <td>{{player.LastName}}</td>
                <td>{{player.ClubName}}</td>
                <td>{{player.PositionName}}</td>
                <td><a [routerLink]="['/players', player.PlayerID]">Go</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-info col-sm-offset-2 col-sm-6" *ngIf="results?.length == 0" role="alert">
    <p>No results were found.</p>
</div>



