<div class="row">
    <div class="col-xs-4" *ngFor="let article of articles">
        <div class="thumbnail">
            <div class="caption">
                <h3>{{article.Title}}</h3>
                <p>{{article.Text.substring(0, 100)}}...</p>
                <p><a [routerLink]="['/articles', article.ArticleID]" class="btn btn-default" role="button">More</a></p>
            </div>
        </div>
    </div>
</div>
