﻿<div class="row">
    <div class="col-xs-12">
        <h3>{{article?.Title}}</h3>
        <div class="spacer10">
            <strong>posted on {{article?.DateAdded | date: 'MMM dd, yyyy'}}</strong>
        </div>
        <p>{{article?.Text}}</p>
    </div>

</div>

<hr />

<div class="row">
    <h4>Comments</h4>
</div>

<div class="row spacer10">
    <div class="text-center" [hidden]="!hasMoreComments">
        <a class="showMoreLink" (click)="getComments()">Show more</a>
    </div>
</div>
<div class="row" *ngFor="let comment of article?.Comments">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span>{{comment.Author}} on {{comment.DatePosted | date: 'medium'}}</span>
            </h3>
        </div>
        <div class="panel-body">
            {{comment.Text}}
        </div>
    </div>
</div>

<div class="row" *ngIf="article.Comments?.length == 0">
    <div class="col-xs-4">
        <div class="alert alert-info" role="alert">
            <p>No comments have been added yet.</p>
        </div>
    </div>
</div>

<style type="text/css">
    input.ng-invalid.ng-dirty {
        background-color: #FA787E;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <p>You have {{commentMaxLength - newComment.length}} symbols remaining.</p>
        <form name="form" #commentForm="ngForm">
            <div class="form-group">
                <textarea name="newComment" [(ngModel)]="newComment" maxlength="300" required class="form-control" rows="3"></textarea>
            </div>
            <button (click)="addComment()" [disabled]="!commentForm.form.valid" type="button" class="btn btn-info">Add</button>
        </form>
    </div>
</div>
