﻿<form class="form-horizontal" role="form" #articleForm="ngForm">
    <h4>Create new article</h4>
    <div class="row" [hidden]="!hasServerError">
        <div class="col-sm-offset-2 col-xs-10">
            <div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>{{errMessage}}</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" name="title" class="form-control" val-summary="Title" [(ngModel)]="newArticle.Title" maxlength="100" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <textarea name="content" class="form-control" val-summary="Content" [(ngModel)]="newArticle.Text" required rows="5"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-2 col-sm-5" role="alert">
            <div class="alert alert-info">You must specify at least one valid club name to connect to the article.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="content" class="col-sm-2 control-label">Connected teams (max. 3)</label>
        <div class="col-sm-5">
            <input type="text" name="teams" class="form-control" [(ngModel)]="teams" suggestions-multiple="/JsonAutocomplete/GetTeamsNamesTokens" maxlength="100" />
        </div>
    </div>
    <!--<div class="form-group">
        <div class="col-sm-5">
            <input type="text" class="form-control" aa-label="Team 2" aa-field="connectedSecond" suggestions="/JsonAutocomplete/GetTeamsNames" maxlength="100" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" class="form-control" aa-label="Team 3" aa-field="connectedThird" suggestions="/JsonAutocomplete/GetTeamsNames" maxlength="100" />
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" (click)="create()" [disabled]="!articleForm.form.valid" class="btn btn-default">Create</button>
        </div>
    </div>
</form>
