﻿<h4>Search articles</h4>

<form class="form-horizontal" name="form" (ngSubmit)="searchArticles()" novalidate>
    <div class="row" [hidden]="!hasServerError">
        <div class="col-sm-offset-2 col-xs-10">
            <div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert">×</a>{{errMessage}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Title</label>
        <div class="col-sm-5">
            <input type="text" name="title" [(ngModel)]="search.Title" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Content</label>
        <div class="col-sm-5">
            <input type="text" name="content" [(ngModel)]="search.Content" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Start date</label>
        <div class="col-sm-3">
            <input type="text" name="startDate" class="form-control" [(ngModel)]="search.StartDate" readonly="readonly" datepicker />
        </div>
        <label class="control-label col-sm-2">End date</label>
        <div class="col-sm-3">
            <input type="text" name="endDate" class="form-control" [(ngModel)]="search.EndDate" readonly="readonly" datepicker />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Search</button>
        </div>
    </div>
</form>

<div class="panel panel-default" *ngIf="results?.length > 0">
    <div class="panel-heading" style="font-size: 14px;">Found {{results.length}} result(s)</div>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let article of results">
                <td>{{article.Title}}</td>
                <td>{{article.Text.substr(0, 50)}}...</td>
                <td>{{article.DateAdded | date: 'dd/MM/yyyy' | notAvailable }}</td>
                <td><a [routerLink]="['/articles', article.ArticleID]">Go</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-info col-sm-offset-2 col-sm-6" *ngIf="results?.length == 0" role="alert">
    <p>No results were found.</p>
</div>



