﻿<form class="form-horizontal" role="form" #transferForm="ngForm">
    <h4>
        <span *ngIf="isEdit">Edit transfer</span>
        <span *ngIf="!isEdit">Create new transfer</span>
    </h4>
    <div class="row" [hidden]="!hasServerError">
        <div class="col-sm-offset-2 col-xs-10">
            <div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert">×</a>{{errMessage}}</div>
        </div>
    </div>

    <div class="form-group" *ngIf="isEdit">
        <label class="control-label col-sm-2">Player</label>
        <div class="col-sm-5" style="padding-top: 7px;">
            <span>{{transfer.PlayerName}}</span>
        </div>
    </div>
    <div class="form-group" *ngIf="!isEdit">
        <div class="col-sm-5">
            <input type="text" name="player" class="form-control" val-summary="Player" [(ngModel)]="transfer.PlayerName" suggestions="/JsonAutocomplete/GetPlayersNames" required />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" name="buyer" class="form-control" val-summary="Buyer" [(ngModel)]="transfer.BuyerName" suggestions="/JsonAutocomplete/GetTeamsNames" required />
        </div>
    </div>
    <div class="form-group" *ngIf="showAmount">
        <div class="col-sm-5">
            <input type="text" name="amount" class="form-control" val-summary="Transfer worth" [(ngModel)]="transfer.Amount" float />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" name="dateCompleted" class="form-control" val-summary="Date completed" [(ngModel)]="transfer.DateCompleted" readonly="readonly" datepicker required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <select name="transferType" class="form-control" val-summary="Transfer type" [(ngModel)]="transfer.TransferTypeID" required>
                <option *ngFor="let type of transferTypes" value="{{type.TransferTypeID}}">{{type.Title}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" (click)="save()" [disabled]="!transferForm.form.valid" class="btn btn-default">Save</button>
        </div>
    </div>
</form>
