﻿<h4>Search transfers</h4>

<form class="form-horizontal" name="form" (ngSubmit)="search()" #searchForm="ngForm" novalidate>
    <div class="form-group">
        <label class="col-sm-2 control-label">Search by</label>
        <div class="col-sm-5 radio-group">
            <input name="playertransferCriteria" type="radio" value="player" [(ngModel)]="transferCriteria" /> Player
            <input name="clubtransferCriteria" type="radio" value="club" [(ngModel)]="transferCriteria" /> Club
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" name="search" val-summary="Search term" [(ngModel)]="searchTerm" class="form-control" required ng-minlength="3" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Club is (available if club selected):</label>
        <div class="col-sm-5 radio-group">
            <input name="buyer" type="radio" value="buyer" [(ngModel)]="clubRole" [disabled]="transferCriteria == 'player'" /> Buyer
            <input name="seller" type="radio" value="seller" [(ngModel)]="clubRole" [disabled]="transferCriteria == 'player'" /> Seller
            <input name="any" type="radio" value="any" [(ngModel)]="clubRole" [disabled]="transferCriteria == 'player'" /> Any
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" [disabled]="!searchForm.form.valid">Search</button>
        </div>
    </div>
</form>

<div class="panel panel-default" *ngIf="results?.length > 0">
    <div class="panel-heading" style="font-size: 14px;">Found {{results.length}} result(s)</div>

    <table class="table">
        <thead>
            <tr>
                <th>Player</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transfer of results">
                <td>{{transfer.PlayerName}}</td>
                <td>{{transfer.SellerName}}</td>
                <td>{{transfer.BuyerName}}</td>
                <td>{{transfer.Amount | transferAmount}}</td>
                <td><a [routerLink]="['/transfers', transfer.TransferID]">Go</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-info col-sm-offset-2 col-sm-6" *ngIf="results?.length == 0" role="alert">
    <p>No transfers were found.</p>
</div>