﻿<h4>Details for transfer</h4>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Player name</label>
        <div class="col-sm-5">{{transfer?.PlayerName}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Buyer club</label>
        <div class="col-sm-5">{{transfer?.BuyerName}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Seller club</label>
        <div class="col-sm-5">{{transfer?.SellerName}}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Date completed</label>
        <div class="col-sm-3">{{transfer?.DateCompleted | date: 'dd/MM/yyyy' | notAvailable }}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Amount</label>
        <div class="col-sm-2">{{transfer?.Amount | transferAmount }}</div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label">Type</label>
        <div class="col-sm-3">{{transfer?.Title}}</div>
    </div>
</div>
<div class="row">
    <div *ngIf="transfer" class="form-group" has-permission="change">
        <div class="col-sm-2">
            <a [routerLink]="['/transfers/edit', transfer.TransferID]" class="btn btn-warning">Edit</a>
            <a data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Confirm deletion</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete this transfer?
            </div>
            <div class="modal-footer">
                <a (click)="remove()" class="btn btn-danger danger" data-dismiss="modal">Yes</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>