﻿<form class="form-horizontal" role="form" #passwordForm="ngForm">
    <h4>Change password</h4>
    <div class="row" [hidden]="!hasServerError">
        <div class="col-sm-offset-2 col-xs-10">
            <div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>{{errMessage}}</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <input type="password" name="oldPassword" class="form-control" val-summary="Old password" [(ngModel)]="passwords.OldPassword" required minlength="6" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <input type="password" name="newPassword" class="form-control" val-summary="New password" [(ngModel)]="passwords.NewPassword" required minlength="6" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <input type="password" name="newPasswordRepeat" class="form-control" val-summary="New password (repeat)" [(ngModel)]="passwords.NewPasswordRepeat" required minlength="6" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" (click)="change()" [disabled]="!passwordForm.form.valid" class="btn btn-default">Change</button>
        </div>
    </div>
</form>