﻿<form class="form-horizontal" role="form" #profileForm="ngForm">
    <h4>Edit profile</h4>
    <div class="row" [hidden]="!hasServerError">
        <div class="col-sm-offset-2 col-xs-10">
            <div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>{{errMessage}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Username</label>
        <div class="col-sm-5" style="padding-top: 7px;">{{user.Username}}</div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" name="fullName" class="form-control" [(ngModel)]="user.Fullname" val-summary="Full name" required maxlength="50" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <input type="text" name="favouriteTeam" class="form-control" [(ngModel)]="user.FavouriteTeam" val-summary="Favourite team" suggestions="/JsonAutocomplete/GetTeamsNames" required minlength="3" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <select name="country" class="form-control" [(ngModel)]="user.CountryID" val-summary="Country" required>
                <option *ngFor="let country of countries" value="{{country.CountryID}}">{{country.CountryName}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Avatar <br />(*.jpg, *.png or *.gif <br /> < 100kb)</label>
        <div class="col-sm-5">
            <input type="file" (change)="setUploadFile($event)">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <input type="checkbox" name="deletePreviousAvatar" [(ngModel)]="user.DeletePreviousAvatar"> Remove previous avatar
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" (click)="save()" [disabled]="!profileForm.form.valid" class="btn btn-default">Save</button>
        </div>
    </div>
</form>