﻿<h3 class="form-group margin-top0">Unread notifications</h3>

<h4>News about your team</h4>
<div class="row" style="margin-left: 0;">
    <div class="list-group col-sm-8" *ngIf="hasArticles">
        <a (click)="removeArticleNotification(article.ArticleID)" *ngFor="let article of notificationsObj?.Articles" [routerLink]="['/articles', article.ArticleID]" class="list-group-item">
            <h4 class="list-group-item-heading">{{article.Title}}</h4>
            <p class="list-group-item-text">added {{article.DateAdded | date: 'dd/MM/yyyy'}}</p>
        </a>
    </div>
</div>

<div class="alert alert-info" role="alert" *ngIf="!hasArticles">
    <p>Sorry, no news about your team were found.</p>
</div>

<h4>Messages from other users</h4>
<div class="row" style="margin-left: 0;">
    <div class="list-group col-sm-8" *ngIf="hasMessages">
        <a (click)="removeWallpostNotification(message.WallpostID)" *ngFor="let message of notificationsObj?.Wallposts" [routerLink]="['/profile/wallpost', message.WallpostID]" class="list-group-item">
            <h4 class="list-group-item-heading">{{message.Username}} ({{message.Fullname}})</h4>
            <p class="list-group-item-text">{{message.ShortText}}</p>
        </a>
    </div>
</div>

<div class="alert alert-info" role="alert" *ngIf="!hasMessages">
    <p>Sorry, no new messages.</p>
</div>

<div *ngIf="notificationsObj?.FriendRequests.length > 0">
    <h4>Friends requests</h4>
    <p *ngFor="let request of notificationsObj.FriendRequests">
        <a [routerLink]="['/profile', request.RequestSenderID]">{{request.RequestSenderName}}</a> wants to add you as a friend.
        Click <a (click)="acceptRequest(request.RequestSenderID)" class="pointer">here</a> to accept the request.
    </p>
</div>

<div class="modal fade" id="friend-approved" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Friendship request accepted</h4>
            </div>
            <div class="modal-body">
                The user was successfully approved.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
