<div class="row topspacer20">
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">User information</div>
            <div class="panel-body">
                <div class="row spacer10">
                    <div class="col-sm-12 text-center">
                        <img [src]="userInfo?.AvatarPath && userInfo?.AvatarPath || defaultImageFull" />
                    </div>
                </div>

                <div class="row spacer10">
                    <div class="col-sm-5">
                        <strong>Username</strong>
                    </div>
                    <div class="col-sm-7">
                        {{userInfo?.Username}}
                    </div>
                </div>

                <div class="row spacer10">
                    <div class="col-sm-5">
                        <strong>Full name</strong>
                    </div>
                    <div class="col-sm-7">
                        {{userInfo?.Fullname}}
                    </div>
                </div>

                <div class="row spacer10">
                    <div class="col-sm-5">
                        <strong>Country</strong>
                    </div>
                    <div class="col-sm-7">
                        {{userInfo?.CountryName}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <strong>Team suported</strong>
                    </div>
                    <div class="col-sm-7">
                        {{userInfo?.FavouriteTeam}}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Latest news about {{userInfo?.FavouriteTeam}}</div>
            <div class="panel-body">
                <p [hidden]="news?.length > 0">No news available right nows.</p>
                <p *ngFor="let article of news">
                    <a [routerLink]="['/article', article.ArticleID]">{{article.Title}}</a>
                </p>
            </div>
            <p style="padding-left: 10px;">To view older articles, you can search <a routerLink="/articles/search">here</a>.</p>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Latest activity</div>
            <div class="panel-body">
                <p [hidden]="userInfo?.LatestArticleComments?.length > 0">This user hasn't posted anything yet.</p>
                <p *ngFor="let comment of userInfo?.LatestArticleComments">
                    {{userInfo?.Username}} wrote "{{comment.Text}}" <a [routerLink]="['/article', comment.ArticleID]">here</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-7" *ngIf="hasViewPermissions">
        <div class="form-group">
            <form name="newWallpostForm" #wallpostsForm="ngForm">
                <div class="form-group">
                    <textarea name="newWallpost" [(ngModel)]="newWallpost.Text" class="form-control" rows="3" required></textarea>
                    <button (click)="addWallpost()" [disabled]="!wallpostsForm.form.valid" type="button" class="btn btn-primary pull-right btn-wpanswer">Publish</button>
                </div>
            </form>
        </div>

        <div class="form-group comments-group">
            <profile-wallpost *ngFor="let wallpost of wallposts" [wallpost]="wallpost" (textareaHidden)="onTextareaToggle($event)"></profile-wallpost>
            <div class="text-center" [hidden]="!hasMoreWallposts">
                <a class="showMoreLink" (click)="getWallposts()">Show more</a>
            </div>
        </div>
    </div>

    <div class="col-sm-7" *ngIf="!hasViewPermissions && hasPendingFriendRequest">
        <div class="alert alert-warning" role="alert">
            There is already a pending request for friendship between you and this user.
        </div>
    </div>

    <div class="col-sm-7" *ngIf="!hasViewPermissions && !hasPendingFriendRequest && !friendRequestSent">
        <div class="alert alert-danger" role="alert">
            This user is not in your friends. In order to view posts on his profile, you must first send a request to her/him.
        </div>
        <button type="button" data-toggle="modal" data-target="#friend-request" class="btn btn-info" *ngIf="!friendRequestSent">Send request</button>
    </div>

    <div class="col-sm-7" *ngIf="friendRequestSent">
        <div class="alert alert-success" role="alert">
            A request has been sent. However, the user must first confirm your friendship to view more profile info.
        </div>
    </div>

    <div class="modal fade" id="friend-request" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirm friendship request</h4>
                </div>
                <div class="modal-body">
                    Do you want to send a friendship request to this user?
                </div>
                <div class="modal-footer">
                    <a (click)="sendFriendRequest()" class="btn btn-info" data-dismiss="modal">Yes</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="friendship-exists" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Existing friendship</h4>
                </div>
                <div class="modal-body">
                    {{friendshipError}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
