﻿<div class="media" *ngIf="wallpost" style="margin-bottom: 20px;">
    <a class="pull-left" [routerLink]="['/profile', wallpost.AuthorID]">
        <img class="media-object" [src]="wallpost.AuthorThumbImage && wallpost.AuthorThumbImage || defaultImage" />
    </a>
    <div class="media-body">
        <strong class="media-heading"><a [routerLink]="['/profile', wallpost.AuthorID]">{{wallpost.AuthorName}}</a> on {{wallpost.DatePosted | date: 'MMM dd, yyyy HH:mm'}}</strong>
        <span>{{wallpost.Text}}</span>
        <div class="moreCommentsLabel" [hidden]="!skipInfoEntry?.showMoreButton">
            <a class="showMoreLink" (click)="getWallpostAnswers()">
                Show previous comments
                ({{wallpost.WallpostsAnswers.length}} of {{skipInfoEntry?.total}})
            </a>
            <a class="pointer" (click)="showTextarea()">---- Reply ----</a>
        </div>
        <div class="media" *ngFor="let answer of wallpost.WallpostsAnswers">
            <a class="pull-left" [routerLink]="['/profile', answer.AuthorID]">
                <img class="media-object" [src]="answer.AuthorThumbImage && answer.AuthorThumbImage || defaultImage" />
            </a>
            <div class="media-body">
                <strong class="media-heading"><a [routerLink]="['/profile', answer.AuthorID]">{{answer.AuthorName}}</a> on {{answer.DatePosted | date: 'MMM dd, yyyy HH:mm'}}</strong>
                {{answer.Text}}
            </div>
        </div>
        <div *ngIf="wallpost.show">
            <textarea class="form-control" style="margin-top: 2px;" [(ngModel)]="text"></textarea>
            <button (click)="addWallpostAnswer()" [disabled]="text == null || text == ''" type="button"
                    class="btn btn-primary pull-right btn-wpanswer" required>
                Comment
            </button>
        </div>
    </div>
</div>