﻿<div class="col-sm-offset-2 col-sm-8 topspacer20">
    <div class="media">
        <div class="media-body">
            <strong class="media-heading">{{wallpost?.AuthorName}} on {{wallpost?.DatePosted | date: 'MMM dd, yyyy HH:mm'}}</strong>
            <span>{{wallpost?.Text}}</span>
            <div class="media" *ngFor="let answer of wallpost?.WallpostsAnswers">
                <div class="media-body">
                    <strong class="media-heading">{{answer.AuthorName}} on {{answer.DatePosted | date: 'MMM dd, yyyy HH:mm'}}</strong>
                    {{answer.Text}}
                </div>
            </div>
            <textarea class="form-control" style="margin-top: 2px;" [(ngModel)]="answer"></textarea>
            <button (click)="addWallpostAnswer()" [disabled]="answer == null || answer == ''" type="button"
                    class="btn btn-primary pull-right btn-wpanswer">
                Comment
            </button>
        </div>
    </div>
</div>