<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="padding-top: 10px;">
                <img src="/Upload/logo.png" width="32" height="32" />
                FootballZone
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown" *ngIf="userContext.IsUserAdmin">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Add <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a routerLink="/players/new">Player</a></li>
                        <li><a routerLink="/clubs/new">Club</a></li>
                        <li><a routerLink="/transfers/new">Transfer</a></li>
                        <li><a routerLink="/articles/new">Article</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Search <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a routerLink="/players/search">Players</a></li>
                        <li><a routerLink="/clubs/search">Clubs</a></li>
                        <li><a routerLink="/transfers/search">Transfers</a></li>
                        <li><a routerLink="/articles/search">Articles</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/profile', userContext.UserId]"><strong>{{userContext.Username}}</strong></a></li>
                <li><a routerLink="/profile/notifications">Messages <span class="badge" *ngIf="notificationsCount > 0">{{notificationsCount}}</span></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Profile <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a routerLink="/profile/edit">Edit profile</a></li>
                        <li><a routerLink="/profile/changepass">Change password</a></li>
                    </ul>
                </li>
                <li><a href="/Account/Logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container main-container">
    <router-outlet></router-outlet>
</div>